@media only screen and (max-width: 450px) {
  #resume {
    .resume-background {
      margin-top: -170px;
      //   background: linear-gradient(to right, rgb(110, 32, 32) 0%, rgb(185, 172, 172) 90%);

      background-color: #efeae2;
      .section {
        padding: 220px 0px;
        align-self: center;
        .box-shadow {
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          border-radius: 8px;
          padding: 20px;
          h2 {
            color: var(--primary-color);
            font-size: 18px !important;
            font-weight: 700;
          }

          .education {
            h3 {
              .icon {
                margin-right: 10px;
                svg {
                  font-size: 20px;
                  color: var(--primary-color);
                }
              }
              font-size: 18px !important;
              font-weight: 700 !important;
            }
            .box {
              .heading {
                margin-top: 14px;
                display: flex;
                justify-content: space-between;

                .degree {
                  font-size: 17px;
                  font-weight: 700 !important;
                }
                .school {
                  color: gray;
                  font-size: 18px !important;
                  font-weight: 400 !important;
                }
                .duration {
                  position: relative;
                  display: block;
                  margin: 0;
                  margin-top: 5px;
                  width: 5rem;
                  height: 2rem;
                  border-radius: 1.625rem;
                  border: 1px solid var(--primary-color);
                  transform: scale(1.05);
                  text-align: center;
                  p {
                    padding-top: 3px;
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--primary-color);
                    align-self: center;
                    align-content: center;
                  }
                }
              }
              .description {
                margin-top: 10px;
                font-size: 14px;
                color: gray;
              }
            }
          }
          .experience {
            margin-top: 20px;
            h3 {
              font-size: 18px !important;
              font-weight: 700 !important;
              .icon {
                margin-right: 10px;
                svg {
                  font-size: 20px;
                  color: var(--primary-color);
                }
              }
            }
            .box {
              .heading {
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
                .designation {
                  font-size: 16px;
                  font-weight: 700 !important;
                  margin-bottom: 0px;
                }
                .organzation {
                  .companyIcon {
                    font-size: 15px;
                  }
                  text-decoration: none;
                  font-weight: 500 !important;
                  color: var(--primary-color);
                  font-size: 18px !important;
                }
                .duration {
                  position: relative;
                  display: block;
                  margin: 10px;
                  margin-top: 4px;
                  width: 5rem;
                  height: 2rem;
                  border-radius: 1.625rem;
                  border: 1px solid var(--primary-color);
                  transform: scale(1.05);
                  text-align: center;
                  p {
                    padding-top: 3px;
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--primary-color);
                    align-self: center;
                    align-content: center;
                  }
                }
              }
              .description {
                margin-top: 10px;
                font-size: 14px;
                color: gray;
              }
            }
          }
          .skills {
            h3 {
              font-size: 18px !important;
              font-weight: 700 !important;
              white-space: nowrap;
              .icon {
                margin-right: 7px;
                svg {
                  font-size: 20px;
                  color: var(--primary-color);
                }
              }
            }
            .skillName {
              font-size: 14px;
              font-weight: 700;
              align-self: center;
            }

            .skilltitle {
              font-size: 12px;
              align-self: center;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 780px) {
  #resume {
    .resume-background {
      margin-top: -100px;
      //   background: linear-gradient(to right, rgb(110, 32, 32) 0%, rgb(185, 172, 172) 90%);

      background-color: #efeae2;
      .section {
        padding: 220px 0px;
        align-self: center;
        .box-shadow {
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          border-radius: 8px;
          padding: 50px;
          h2 {
            color: var(--primary-color);
            font-size: 22px !important;
            font-weight: 700;
          }

          .education {
            padding-right: 50px;
            h3 {
              .icon {
                margin-right: 10px;
                svg {
                  font-size: 30px;
                  color: var(--primary-color);
                }
              }
              font-size: 34px !important;
              font-weight: 700 !important;
            }
            .box {
              .heading {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                .degree {
                  font-size: 25px;
                  font-weight: 700 !important;
                }
                .school {
                  color: gray;
                  font-size: 22px !important;
                  font-weight: 400 !important;
                }
                .duration {
                  position: relative;
                  display: block;
                  margin: 0;
                  margin-top: 7px;
                  width: 7.5rem;
                  height: 2.5rem;
                  border-radius: 1.625rem;
                  border: 1px solid var(--primary-color);
                  transform: scale(1.05);
                  text-align: center;
                  p {
                    padding-top: 3px;
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--primary-color);
                    align-self: center;
                    align-content: center;
                  }
                }
              }
              .description {
                margin-top: 10px;
                font-size: 18px;
                color: gray;
              }
            }
          }
          .experience {
            h3 {
              font-size: 34px !important;
              font-weight: 700 !important;
              .icon {
                margin-right: 10px;
                svg {
                  font-size: 27px;
                  color: var(--primary-color);
                }
              }
            }
            .box {
              .heading {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                .designation {
                  font-size: 25px;
                  font-weight: 700 !important;
                  margin-bottom: 0px;
                }
                .organzation {
                  .companyIcon {
                    font-size: 20px;
                  }
                  text-decoration: none;
                  font-weight: 500 !important;
                  color: var(--primary-color);
                  font-size: 22px !important;
                }
                .duration {
                  position: relative;
                  display: block;
                  margin: 0;
                  margin-top: 7px;
                  width: 7.5rem;
                  height: 2.5rem;
                  border-radius: 1.625rem;
                  border: 1px solid var(--primary-color);
                  transform: scale(1.05);
                  text-align: center;
                  p {
                    padding-top: 3px;
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--primary-color);
                    align-self: center;
                    align-content: center;
                  }
                }
              }
              .description {
                margin-top: 10px;
                font-size: 18px;
                color: gray;
              }
            }
          }
          .skills {
            h3 {
              font-size: 32px !important;
              font-weight: 700 !important;
              white-space: nowrap;
              .icon {
                margin-right: 7px;
                svg {
                  font-size: 25px;
                  color: var(--primary-color);
                }
              }
            }
            .skillName {
              font-size: 24px;
              font-weight: 700;
              align-self: center;
            }
            .skilltitle {
              font-size: 16px;
              font-weight: 500;
              align-self: center;
            }
          }
        }
      }
    }
  }
}
