@media only screen and (max-width: 1000px) {
  .share {
    display: flex;

    p {
      margin-top: 15px;
      font-size: 14px;
      color: brown;
      align-self: center;
      letter-spacing: 1px;
      font-weight: 700;
    }
    .social-logos {
      display: flex;
      margin-left: 0px;
      justify-content: space-between;
      width: 2%;
      align-self: center;
      svg {
        margin: 0px 7px;
        font-size: 15px;
        color: brown;
        transition: none;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .share {
    display: flex;

    p {
      margin-top: 15px;
      font-size: 20px;
      color: brown;
      letter-spacing: 1px;
      font-weight: 600;
    }
    .social-logos {
      display: flex;
      margin-left: 30px;
      justify-content: space-between;
      width: 20%;

      align-self: center;
      svg {
        margin: 0px 10px;
        font-size: 18px;
        color: brown;
        transition: none;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }
}
